<?xml version="1.0"?>
<!-- This file is part of Tryton.  The COPYRIGHT file at the top level of
this repository contains the full copyright notices and license terms. -->
<tryton>
    <data>
        <record model="ir.ui.view" id="config_section_view_tree">
            <field name="model">res.config.section.view</field>
            <field name="type">tree</field>
            <field name="name">config_section_tree</field>
        </record>
        <record model="ir.ui.view" id="config_section_view_form">
            <field name="model">res.config.section.view</field>
            <field name="type">form</field>
            <field name="priority" eval="20"/>
            <field name="name">config_section_form</field>
        </record>
        <record model="ir.ui.view" id="config_parameter_view_tree">
            <field name="model">res.config.paramater</field>
            <field name="type">tree</field>
            <field name="name">config_parameter_tree</field>
        </record>
        <record model="ir.ui.view" id="config_parameter_view_form">
            <field name="model">res.config.parameter</field>
            <field name="type">form</field>
            <field name="priority" eval="20"/>
            <field name="name">config_parameter_form</field>
        </record>
        <record model="ir.action.act_window" id="act_config_section_form">
            <field name="name">Environnement</field>
            <field name="type">ir.action.act_window</field>
            <field name="res_model">res.config.section.view</field>
        </record>
        <record model="ir.action.act_window.view"
            id="act_config_section_form_view1">
            <field name="sequence" eval="1"/>
            <field name="view" ref="config_section_view_tree"/>
            <field name="act_window" ref="act_config_section_form"/>
        </record>
        <record model="ir.action.act_window.view"
            id="act_config_section_form_view2">
            <field name="sequence" eval="2"/>
            <field name="view" ref="config_section_view_form"/>
            <field name="act_window" ref="act_config_section_form"/>
        </record>
        <menuitem parent="res.menu_res"
            action="act_config_section_form" id="menu_config_section_form"/>
        <record model="ir.ui.menu-res.group" id="menu_config_section_form_group_admin">
            <field name="menu" ref="menu_config_section_form"/>
            <field name="group" ref="res.group_admin"/>
        </record>

        <record model="ir.model.access" id="access_config_section">
            <field name="model" search="[('model', '=', 'res.config.section')]"/>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="False"/>
            <field name="perm_create" eval="False"/>
            <field name="perm_delete" eval="False"/>
        </record>
        <record model="ir.model.access" id="access_config_section_admin">
            <field name="model" search="[('model', '=', 'res.config.section')]"/>
            <field name="group" ref="res.group_admin"/>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="True"/>
            <field name="perm_create" eval="True"/>
            <field name="perm_delete" eval="True"/>
        </record>
    </data>
</tryton>
